<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <databases>
		<database name="dw">
            <hostname>dpg-ct2jaspu0jms738rmkgg-a.singapore-postgres.render.com</hostname>
            <port>5432</port>
            <database>dw_xyg1</database>
            <username>root</username>
            <password>XQqw4cZnWjM5JaAge4fMLpV8PEzIYhzH</password>
        </database>
    </databases>
</configuration>
