<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <databases>
		<database name="dw">
            <hostname>dpg-ct2jaspu0jms738rmkgg-a.singapore-postgres.render.com</hostname>
            <port>5432</port>
            <database>dw_xyg1</database>
            <username>root</username>
            <password>XQqw4cZnWjM5JaAge4fMLpV8PEzIYhzH</password>
        </database>
    </databases>
	<backblaze>
        <key_id>539a40c28e85</key_id>
        <key_name>Master Application Key</key_name>
        <application_key>00526180925d1c4786025f54da57b50c77496f009c</application_key>
    </backblaze>
</configuration>
