<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <databases>
        <database name="controls">
            <hostname>dpg-csocqvq3esus73emq5jg-a.singapore-postgres.render.com</hostname>
            <port>5432</port>
            <database>controls</database>
            <username>sa</username>
            <password>1guDvvOywwP7VLEOJdoOl8z6TBnhEr3n</password>
        </database>
        <database name="staging">
            <hostname>dpg-csoqdqt6l47c7393u110-a.singapore-postgres.render.com</hostname>
            <port>5432</port>
            <database>staging_8i3l</database>
            <username>root</username>
            <password>gHnOGiRGn7krJJZeZcFr1YrttM6Rphji</password>
        </database>
    </databases>
</configuration>
